div(class="clearfix")

noscript
    style.
        .item { opacity: 1; }
        #page-nav { display: block; }
if p != totalp
    nav(id="page-nav" class="thumbnail")
      a(href="?p="+(p+1)) Next page