form input[type="submit"] { margin-right: 5px; }
form p { padding: 5px; }

.error { color: #a94442; }
.warning { color: #8a6d3b; }
.info { color: #31708f; }
.success { color: #3c763d; }

.alert.error { background-color: #f2dede; border-color: #ebccd1; }
.alert.warning { background-color: #fcf8e3; border-color: #faebcc; }
.alert.info { background-color: #d9edf7; border-color: #bce8f1; }
.alert.success { background-color: #dff0d8; border-color: #d6e9c6; }

.btn-social { position: relative; width: 100%; padding: 15px; text-align: center; }
.btn-social img { position: absolute; left: 10px; top: 15px; height: 25px; }
.btn-social p { margin: 0 25px; padding: 0; color: white; }

.twitter { background-color: #63ABEA; }
.facebook { background-color: #3E5B94; }
.google { background-color: white; }
.github { background-color: #24292E; }

.login { margin: 15px 0; padding: 0 15px 15px 15px; }
.glyphicon:not(:empty) { font-size: 1.4em; }

/** -- FORM ADD ------------------------------------------------- **/
.form-group { position: relative; }
.js-picture {
    margin: 2em;
    min-height: 100px;
    border-width: 2px;
    background-color: #f5f5f5;

    display:flex;
    justify-content:center;
    align-items:center;
}
.js-refresh-picture {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/** -- LIST ------------------------------------------------- **/
#page-nav {
    display: none;
    float: right;
    background-color: #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
#pave-nav a {
    color: inherit;
}
.grid {
  margin: 0 auto; /* center container with CSS (needs fitWidth: true) */
}
.item {
    float: left;
    width: 330px; /* 218 */
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}
@media (max-width: 768px) {
    .item {
        width: calc(100vw - 30px);
        margin-left: 0;
        margin-right: 0;
    }
}

.item.on {
    opacity: 1;
    pointer-events: auto;
}
#infscr-loading {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
.js-delete {
    cursor: pointer;
    position: absolute;
    top: 5px; right: 5px;
    display: none;

    width: 20px; height: 20px;
    padding: 2px 0 0 1px;
    line-height: 0.5em;

    text-align: center;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.7);
}
.js-tag {
    cursor: pointer;
    position: absolute;
    top: 5px; right: 35px;
    display: none;

    width: 20px; height: 20px;
    padding: 5px 0 0 0;
    font-size: 0.9em;

    text-align: center;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.7);
}
.js-tag.left {
    right: 5px;
}

.item p {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(255,255,255,0.7);
    padding: 0 2px 2px 0;
    display: none;
}
.item p a {
    color: inherit;
}
.item:hover .js-delete,
.item:hover .js-tag,
.item:hover p {
    display: block;
}
.item .source {
    float: right;
}
.jumbotron h3 {
    margin: 0;
    color: rgba(0,0,0,0.2);
    height: 1rem;
}
video {
    max-width: 100%;
    max-height: 100%;
}
.item .tags {
    display: none;
}

/* popup */
.modal-content,
.modal-content .btn { border-radius: 2px; }
.modal-footer { text-align: center; }
.modal-body { padding: 0; }
.modal-body img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 50vh;
}

.tags { padding: 15px; }
.tag { float:left; margin-right: 10px; }
.tag input {
    width: 7em;
    font-size: 0.8em;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0 5px;
}
.tag span {
    color: #ccc;
    padding-left: 3px;
    cursor: pointer;
}
.tag .glyphicon-remove {
    display: none;
    float: right;
    padding-top: 4px;
}
.tag .glyphicon-remove:hover,
.tag .glyphicon-remove:hover + a {
    color: #333;
}
.tag:hover .glyphicon-remove {
    display: inline-block;
}